PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0

pandas==2.2.2
openpyxl==3.1.5

requests==2.32.3

ghasedak-sms==0.1.13

schedule==1.2.2

python-dateutil==2.9.0.post0

xlsxwriter==3.2.0

cryptography

pillow
